/*--Color BackGround--*/
/*--Color Text--*/
body {
  position: relative;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
body a {
  text-decoration: none;
}
body .formulaire {
  width: 50%;
  height: 98%;
  max-width: 50em;
  background-color: #DB8876;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  -webkit-box-shadow: -1px 5px 15px 5px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 5px 15px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  right: 23em;
  transform: translate(-50%, -50%);
  z-index: 4;
  overflow: auto;
}
@media screen and (max-width: 650px) {
  body .formulaire {
    width: 100%;
    height: 100%;
    border-radius: 0 0 0 0;
  }
}
body .formulaire form {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
body .formulaire form .topForm {
  padding-top: 2em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .formulaire form .topForm .contact {
  font-size: 64px;
  font-weight: 400;
  line-height: 83px;
  margin: 0;
}
@media screen and (max-width: 1260px) {
  body .formulaire form .topForm .contact {
    font-size: 50px;
    line-height: 66px;
  }
}
@media screen and (max-width: 1000px) {
  body .formulaire form .topForm .contact {
    font-size: 40px;
    line-height: 52px;
  }
}
@media screen and (max-width: 820px) {
  body .formulaire form .topForm .contact {
    font-size: 30px;
    line-height: 39px;
  }
}
@media screen and (max-width: 650px) {
  body .formulaire form .topForm .contact {
    font-size: 36px;
    line-height: 46px;
  }
}
@media screen and (max-width: 370px) {
  body .formulaire form .topForm .contact {
    font-size: 28px;
    line-height: 36px;
  }
}
body .formulaire form .topForm i {
  font-size: 42px;
  color: white;
  margin-bottom: 2em;
}
@media screen and (max-width: 1260px) {
  body .formulaire form .topForm i {
    margin-bottom: 1.5em;
  }
}
@media screen and (max-width: 1000px) {
  body .formulaire form .topForm i {
    margin-bottom: 1em;
  }
}
@media screen and (max-width: 1000px) {
  body .formulaire form .topForm i {
    font-size: 35px;
  }
}
@media screen and (max-width: 370px) {
  body .formulaire form .topForm i {
    font-size: 25px;
    margin-bottom: 1.6em;
  }
}
body .formulaire form .inputId {
  width: 100%;
  display: flex;
  margin-top: 1em;
  flex-direction: column;
  justify-content: start;
}
body .formulaire form .inputId label {
  color: #312E2E;
  font-size: 36px;
  font-weight: 400;
  line-height: 46px;
}
@media screen and (max-width: 1260px) {
  body .formulaire form .inputId label {
    font-size: 30px;
  }
}
@media screen and (max-width: 1000px) {
  body .formulaire form .inputId label {
    font-size: 25px;
  }
}
@media screen and (max-width: 820px) {
  body .formulaire form .inputId label {
    font-size: 20px;
  }
}
@media screen and (max-width: 650px) {
  body .formulaire form .inputId label {
    font-size: 24px;
    line-height: 31px;
  }
}
body .formulaire form .inputId input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
@media screen and (max-width: 1260px) {
  body .formulaire form .inputId input {
    height: 60px;
  }
}
@media screen and (max-width: 1000px) {
  body .formulaire form .inputId input {
    height: 55px;
  }
}
@media screen and (max-width: 820px) {
  body .formulaire form .inputId input {
    height: 40px;
  }
}
@media screen and (max-width: 650px) {
  body .formulaire form .inputId input {
    height: 52px;
  }
}
body .formulaire form .inputId textarea {
  width: 100%;
  height: 170px;
  border: none;
  border-radius: 5px;
}
@media screen and (max-width: 1260px) {
  body .formulaire form .inputId textarea {
    height: 140px;
  }
}
@media screen and (max-width: 1000px) {
  body .formulaire form .inputId textarea {
    height: 110px;
  }
}
@media screen and (max-width: 820px) {
  body .formulaire form .inputId textarea {
    height: 90px;
  }
}
@media screen and (max-width: 650px) {
  body .formulaire form .inputId textarea {
    height: 184px;
  }
}
body .formulaire form .button {
  width: 100%;
}
@media screen and (max-width: 650px) {
  body .formulaire form .button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
body .formulaire form .button button {
  height: 69px;
  width: 170px;
  color: white;
  background-color: #901C1C;
  border: none;
  font-size: 18px;
  line-height: 23px;
  border-radius: 5px;
  margin-top: 2em;
  margin-bottom: 2em;
}
@media screen and (max-width: 650px) {
  body .formulaire form .button button {
    height: 35px;
  }
}
body .lightbox {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .lightbox .lightbox__close {
  position: absolute;
  top: 10%;
  right: 15%;
  z-index: 30;
  text-decoration: none;
  border: none;
  background-color: white;
  font-size: 42px;
  color: #901C1C;
}
@media screen and (max-width: 950px) {
  body .lightbox .lightbox__close {
    top: 23%;
  }
}
@media screen and (max-width: 650px) {
  body .lightbox .lightbox__close {
    top: 35%;
    right: 4%;
    font-size: 25px;
  }
}
@media screen and (max-width: 350px) {
  body .lightbox .lightbox__close {
    right: 2%;
  }
}
body .lightbox .lightbox__next {
  position: absolute;
  right: 15%;
  z-index: 25;
  text-decoration: none;
  border: none;
  background-color: white;
  font-size: 42px;
  color: #901C1C;
  display: none;
}
@media screen and (max-width: 650px) {
  body .lightbox .lightbox__next {
    right: 3%;
    font-size: 20px;
  }
}
@media screen and (max-width: 350px) {
  body .lightbox .lightbox__next {
    right: 2%;
  }
}
body .lightbox .lightbox__prev {
  position: absolute;
  left: 15%;
  z-index: 25;
  text-decoration: none;
  border: none;
  background-color: white;
  font-size: 42px;
  color: #901C1C;
  display: none;
}
@media screen and (max-width: 650px) {
  body .lightbox .lightbox__prev {
    left: 3%;
    font-size: 20px;
  }
}
@media screen and (max-width: 350px) {
  body .lightbox .lightbox__prev {
    left: 2%;
  }
}
body .lightbox .visible {
  display: block;
}
body .lightbox .lightbox__container {
  height: 80%;
  width: 60%;
  border-radius: 5px;
}
@media screen and (max-width: 950px) {
  body .lightbox .lightbox__container {
    height: 50%;
    width: 50%;
  }
}
@media screen and (max-width: 650px) {
  body .lightbox .lightbox__container {
    height: 30%;
    width: 80%;
  }
}
body .lightbox .lightbox__container .lightbox__container__in {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 5px;
}
body .lightbox .lightbox__container .lightbox__container__in img, body .lightbox .lightbox__container .lightbox__container__in video {
  object-fit: cover;
  min-height: 100%;
  min-width: 100%;
  border-radius: 5px;
}
body .lightbox .lightbox__container .lightbox__container__in .lightbox__title {
  font-weight: 400;
  font-size: 24px;
  color: #901C1C;
  margin-top: 0.5em;
  border-radius: 5px;
}
@media screen and (max-width: 650px) {
  body .lightbox .lightbox__container .lightbox__container__in .lightbox__title {
    font-size: 14px;
  }
}
body main {
  width: 90%;
  max-width: 1500px;
}
body main .vignette {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #FAFAFA;
  border-radius: 7px;
  margin-top: 2em;
  margin-bottom: 3em;
}
@media screen and (max-width: 700px) {
  body main .vignette {
    margin-bottom: 0;
  }
}
body main .vignette .profil {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  margin-top: 3em;
  margin-bottom: 3em;
}
body main .vignette .profil .profilName {
  color: #D3573C;
  font-weight: 400;
  font-style: normal;
  font-size: 64px;
  line-height: 83px;
  margin: 0;
}
body main .vignette .profil .profilCity {
  color: #901C1C;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 31px;
}
body main .vignette .profil .profilComments {
  margin-top: 1em;
  color: #525252;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
}
body main .vignette .profil .profilTag {
  margin-top: 1em;
}
body main .vignette .profil .profilTag span {
  background-color: #FAFAFA;
  border: 1px solid #C4C4C4;
  border-radius: 12px;
  color: #901C1C;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  margin-left: 6px;
  padding: 1px 7px 1px 7px;
}
body main .vignette .profil .profilTag :nth-child(1) {
  margin-left: 0;
}
@media screen and (max-width: 1227px) {
  body main .vignette .profil .profilName {
    font-size: 54px;
    line-height: 50px;
  }
  body main .vignette .profil .profilComments {
    margin-top: 0;
  }
  body main .vignette .profil .profilTag {
    margin-top: 2px;
  }
}
@media screen and (max-width: 750px) {
  body main .vignette .profil .profilName {
    font-size: 45px;
  }
  body main .vignette .profil .profilCity {
    font-size: 17px;
  }
  body main .vignette .profil .profilComments {
    font-size: 12.5px;
  }
  body main .vignette .profil .profilTag span {
    font-size: 12.5px;
  }
}
@media screen and (max-width: 600px) {
  body main .vignette .profil .profilName {
    font-size: 31.5px;
    margin-top: 7px;
    line-height: 33px;
  }
  body main .vignette .profil .profilCity {
    font-size: 12px;
    margin-top: 7px;
    line-height: 12.5px;
  }
  body main .vignette .profil .profilComments {
    font-size: 8.5px;
    margin-top: 7px;
  }
  body main .vignette .profil .profilTag span {
    font-size: 8.5px;
    margin-top: 7px;
  }
}
@media screen and (max-width: 500px) {
  body main .vignette .profil .profilName {
    font-size: 25px;
    margin-top: 0px;
    line-height: 15px;
  }
  body main .vignette .profil .profilCity {
    font-size: 10px;
    margin-top: 7px;
    line-height: 10px;
  }
  body main .vignette .profil .profilComments {
    font-size: 8px;
    margin-top: 5px;
    line-height: 10px;
  }
  body main .vignette .profil .profilTag span {
    font-size: 8.5px;
    margin-top: 7px;
  }
}
@media screen and (max-width: 1227px) {
  body main .vignette .profil {
    margin-left: 0;
  }
}
@media screen and (max-width: 600px) {
  body main .vignette .profil {
    margin-right: 0;
  }
}
body main .vignette .button {
  margin-top: 4em;
  margin-right: 10em;
}
@media screen and (max-width: 600px) {
  body main .vignette .button {
    margin-right: 0;
  }
}
body main .vignette .button button {
  height: 70px;
  width: 170px;
  background-color: #901C1C;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}
@media screen and (max-width: 1023px) {
  body main .vignette .button button {
    margin-right: 0;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 42%;
    bottom: 2%;
    height: 35px;
  }
}
@media screen and (max-width: 912px) {
  body main .vignette .button button {
    right: 40%;
  }
}
@media screen and (max-width: 740px) {
  body main .vignette .button button {
    right: 37%;
  }
}
@media screen and (max-width: 600px) {
  body main .vignette .button button {
    right: 35%;
  }
}
@media screen and (max-width: 600px) {
  body main .vignette .button button {
    right: 32%;
  }
}
@media screen and (max-width: 430px) {
  body main .vignette .button button {
    right: 30%;
  }
}
@media screen and (max-width: 375px) {
  body main .vignette .button button {
    right: 27%;
  }
}
@media screen and (max-width: 360px) {
  body main .vignette .button button {
    right: 25%;
  }
}
@media screen and (max-width: 325px) {
  body main .vignette .button button {
    right: 22%;
  }
}
body main .vignette img {
  width: 10em;
  height: 10em;
  object-fit: cover;
  border-radius: 20em;
  margin-top: 4em;
  margin-right: 2em;
}
@media screen and (max-width: 1227px) {
  body main .vignette img {
    margin-right: 0;
  }
}
@media screen and (max-width: 600px) {
  body main .vignette img {
    width: 6em;
    height: 6em;
    margin-top: 3em;
  }
}
@media screen and (max-width: 500px) {
  body main .vignette img {
    width: 5em;
    height: 5em;
    margin-top: 3em;
  }
}
@media screen and (max-width: 1227px) {
  body main .vignette {
    background-color: white;
    margin-top: 0;
  }
}
body main .mediaProfilIn {
  z-index: 3;
  width: 100%;
  display: grid;
  margin-top: 8em;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 350px);
  justify-content: space-between;
}
@media screen and (max-width: 1220px) {
  body main .mediaProfilIn {
    grid-template-columns: repeat(2, 45%);
  }
}
@media screen and (max-width: 700px) {
  body main .mediaProfilIn {
    grid-template-columns: repeat(1, 100%);
    margin-top: 4em;
  }
}
@media screen and (max-width: 600px) {
  body main .mediaProfilIn {
    margin-top: 0;
  }
}
body main .mediaProfilIn article {
  margin-bottom: 2em;
  overflow: hidden;
  border-radius: 3px;
}
body main .mediaProfilIn article .imgContainer, body main .mediaProfilIn article .videoContainer {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 5px;
}
body main .mediaProfilIn article video,
body main .mediaProfilIn article img {
  width: 100%;
  height: 300px;
  border-radius: 3px;
  object-fit: cover;
  transition: all 0.3s ease;
}
body main .mediaProfilIn article .videoContainer video:hover,
body main .mediaProfilIn article img:hover {
  width: 110%;
  height: 300px;
  cursor: pointer;
  transform: scale(1.1);
}
@media screen and (max-width: 1227px) {
  body main .mediaProfilIn article .videoContainer video:hover,
body main .mediaProfilIn article img:hover {
    width: 100%;
    transform: none;
  }
}
body main .mediaProfilIn article .bottomVideo,
body main .mediaProfilIn article .bottomImg {
  display: flex;
  margin-top: 0.5em;
}
body main .mediaProfilIn article .bottomVideo .bottomLeft,
body main .mediaProfilIn article .bottomImg .bottomLeft {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
@media screen and (max-width: 1220px) {
  body main .mediaProfilIn article .bottomVideo .bottomLeft,
body main .mediaProfilIn article .bottomImg .bottomLeft {
    width: 87%;
  }
}
body main .mediaProfilIn article .bottomVideo .bottomLeft .sigle,
body main .mediaProfilIn article .bottomImg .bottomLeft .sigle {
  margin-left: 6px;
}
body main .mediaProfilIn article .bottomVideo .bottomLeft .titleVideo,
body main .mediaProfilIn article .bottomVideo .bottomLeft .titleImg,
body main .mediaProfilIn article .bottomVideo .bottomLeft .priceVideo,
body main .mediaProfilIn article .bottomVideo .bottomLeft .priceImg,
body main .mediaProfilIn article .bottomImg .bottomLeft .titleVideo,
body main .mediaProfilIn article .bottomImg .bottomLeft .titleImg,
body main .mediaProfilIn article .bottomImg .bottomLeft .priceVideo,
body main .mediaProfilIn article .bottomImg .bottomLeft .priceImg {
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  color: #901C1C;
}
@media screen and (max-width: 400px) {
  body main .mediaProfilIn article .bottomVideo .bottomLeft .titleVideo,
body main .mediaProfilIn article .bottomVideo .bottomLeft .titleImg,
body main .mediaProfilIn article .bottomVideo .bottomLeft .priceVideo,
body main .mediaProfilIn article .bottomVideo .bottomLeft .priceImg,
body main .mediaProfilIn article .bottomImg .bottomLeft .titleVideo,
body main .mediaProfilIn article .bottomImg .bottomLeft .titleImg,
body main .mediaProfilIn article .bottomImg .bottomLeft .priceVideo,
body main .mediaProfilIn article .bottomImg .bottomLeft .priceImg {
    font-size: 14px;
    line-height: 18px;
  }
}
body main .mediaProfilIn article .bottomVideo .likeGlobal,
body main .mediaProfilIn article .bottomVideo .likeVideoGlobal,
body main .mediaProfilIn article .bottomImg .likeGlobal,
body main .mediaProfilIn article .bottomImg .likeVideoGlobal {
  display: flex;
}
body main .mediaProfilIn article .bottomVideo .likeGlobal .likesVideo,
body main .mediaProfilIn article .bottomVideo .likeGlobal .likesImg,
body main .mediaProfilIn article .bottomVideo .likeVideoGlobal .likesVideo,
body main .mediaProfilIn article .bottomVideo .likeVideoGlobal .likesImg,
body main .mediaProfilIn article .bottomImg .likeGlobal .likesVideo,
body main .mediaProfilIn article .bottomImg .likeGlobal .likesImg,
body main .mediaProfilIn article .bottomImg .likeVideoGlobal .likesVideo,
body main .mediaProfilIn article .bottomImg .likeVideoGlobal .likesImg {
  margin-left: 1em;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  line-height: 31px;
  color: #901C1C;
}
@media screen and (max-width: 400px) {
  body main .mediaProfilIn article .bottomVideo .likeGlobal .likesVideo,
body main .mediaProfilIn article .bottomVideo .likeGlobal .likesImg,
body main .mediaProfilIn article .bottomVideo .likeVideoGlobal .likesVideo,
body main .mediaProfilIn article .bottomVideo .likeVideoGlobal .likesImg,
body main .mediaProfilIn article .bottomImg .likeGlobal .likesVideo,
body main .mediaProfilIn article .bottomImg .likeGlobal .likesImg,
body main .mediaProfilIn article .bottomImg .likeVideoGlobal .likesVideo,
body main .mediaProfilIn article .bottomImg .likeVideoGlobal .likesImg {
    font-size: 14px;
    line-height: 18px;
  }
}
body main .mediaProfilIn article .bottomVideo .likeGlobal i,
body main .mediaProfilIn article .bottomVideo .likeVideoGlobal i,
body main .mediaProfilIn article .bottomImg .likeGlobal i,
body main .mediaProfilIn article .bottomImg .likeVideoGlobal i {
  color: #901C1C;
  font-style: normal;
  font-size: 24px;
  line-height: 31px;
}
@media screen and (max-width: 400px) {
  body main .mediaProfilIn article .bottomVideo .likeGlobal i,
body main .mediaProfilIn article .bottomVideo .likeVideoGlobal i,
body main .mediaProfilIn article .bottomImg .likeGlobal i,
body main .mediaProfilIn article .bottomImg .likeVideoGlobal i {
    font-size: 14px;
    line-height: 18px;
  }
}
body main .clickLike {
  background-color: blue;
}
body main .logoPhotographerPage {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 3em;
}
body main .logoPhotographerPage img {
  width: 45%;
  max-width: 25em;
}
@media screen and (max-width: 500px) {
  body main .logoPhotographerPage {
    padding-top: 2em;
  }
}
body main .filtreBouton {
  z-index: 1;
  cursor: pointer;
  position: absolute;
  display: flex;
  top: 32em;
}
@media screen and (min-width: 2000px) {
  body main .filtreBouton {
    top: 34em;
  }
}
@media screen and (max-width: 1227px) {
  body main .filtreBouton {
    top: 26em;
  }
}
@media screen and (max-width: 1024px) {
  body main .filtreBouton {
    top: 24em;
  }
}
@media screen and (max-width: 800px) {
  body main .filtreBouton {
    top: 24em;
  }
}
@media screen and (max-width: 700px) {
  body main .filtreBouton {
    display: none;
  }
}
body main .filtreBouton label {
  margin-top: 1.5em;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
}
body main .divIn {
  border-radius: 5px;
  background-color: #901C1C;
  width: 170px;
  margin-left: 15px;
  min-height: 69px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
body main .divIn .fas {
  color: white;
  font-size: 23px;
}
body main .divIn .fa-angle-down {
  position: absolute;
  right: 13px;
}
body main .divIn .fa-angle-up {
  position: absolute;
  right: 13px;
  top: 1em;
}
body main .divIn :nth-child(3) {
  display: flex;
  flex-direction: column;
}
body main .divIn :nth-child(3)::before {
  content: "";
  width: 100%;
  border-top: 1px solid white;
  padding-bottom: 15px;
}
body main .divIn :nth-child(3)::after {
  content: "";
  width: 100%;
  border-top: 1px solid white;
  margin-top: 15px;
}
body main .divIn :nth-child(2) {
  margin-top: 21px;
  margin-bottom: 21px;
}
body main .divIn :nth-child(4) {
  margin-top: 15px;
  margin-bottom: 22px;
}
body main .divIn div {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  color: white;
}
body main .banierePhotographe {
  width: 376px;
  height: 70px;
  background-color: #DB8876;
  position: fixed;
  bottom: 0;
  right: 40px;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  body main .banierePhotographe {
    right: 46.1%;
  }
}
body main .banierePhotographe .likedBaniere span {
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
}
body main .banierePhotographe .likedBaniere i {
  width: 17.5px;
}
body main .banierePhotographe .priceBaniere {
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
}
@media screen and (max-width: 1227px) {
  body main .banierePhotographe {
    display: none;
  }
}
body main .button-div:hover {
  cursor: pointer;
}
@media screen and (max-width: 1227px) {
  body main {
    width: 95%;
  }
}

/*# sourceMappingURL=stylePhotographer.css.map */
