/*--Color BackGround--*/
$color-background-primary: #901C1C;
$color-background-secondary:#D3573C;
$color-background-thee: #DB8876;

/*--Color Text--*/
$color-text-one: black;
$color-text-two: #525252;
$color-text-three: #901C1C;
$color-text-four: #D3573C;
$color-text-five: #757575;
$color-text-six: #312E2E;
$color-text-seven: #C4C4C4;
$color-text-eight: #FAFAFA;


