// Import

@import "Mixins/banierePhotographe.scss";
@import "Mixins/body.scss";
@import "Mixins/filtreBouton.scss";
@import "Mixins/flexbox.scss";
@import "Mixins/formulaire.scss";
@import "Mixins/formulaire.scss";
@import "Mixins/imageLink.scss";
@import "Mixins/lightBox.scss";
@import "Mixins/logo.scss";
@import "Mixins/reponsive.scss";
@import "Mixins/vignettePhotographerPage.scss";
@import "Use/color.scss";


//Style

body {
    position: relative; 
    @include body-init;
    @include formulaire;
    @include lightBox;
    z-index: 5;

    main {
        width: 90%;
        max-width: 1500px;
        @include vignettePhotographerPage;
        @include imageLink;
        @include logo;
        @include filtreBouton;
        @include banierePhotographe;

        
        .button-div:hover {
            cursor: pointer;
        } 
    }
}

