// Import

@import "Mixins/body.scss";
@import "Mixins/filtreBouton.scss";
@import "Mixins/flexbox.scss";
@import "Mixins/formulaire.scss";
@import "Mixins/formulaire.scss";
@import "Mixins/imageLink.scss";
@import "Mixins/lightBox.scss";
@import "Mixins/reponsive.scss";
@import "Mixins/vignettePhotographerPage.scss";
@import "Use/color.scss";


//Style

body {
    position: relative; 
    @include body-init;
    @include formulaire;
    @include lightBox;
    z-index: 5;

    main {
        width: 90%;
        max-width: 1500px;
        @include vignettePhotographerPage;
        @include imageLink;
        @include filtreBouton;

        
        .button-div:hover {
            cursor: pointer;
        }

        // img, video {
        //     width: 10em;
        //     height: 10em;
        //     object-fit: cover;
        //     border-radius: 20em;
        // }
    }
}

