@mixin banierePhotographe {
    .banierePhotographe {
        width: 376px;
        height: 70px;
        background-color: $color-background-thee;
        position: fixed;
        bottom: 0;
        right: 40px;
        border-radius: 5px 5px 0 0;

        .baniere {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .likedBaniere {
                span {
                    font-weight: 500;
                    font-style: normal;
                    font-size: 24px;
                }

                i {
                    width: 17.5px;
                }
            }

            .priceBaniere {
                font-weight: 500;
                font-style: normal;
                font-size: 24px;
            }

        }
    }
}