@mixin filtreBouton {
    .filtreBouton {
        cursor: pointer;
        position: absolute;
        display: flex;
        align-items: top;
        top: 22em;

        label {
            margin-top: 1.5em;
            font-weight: 700;
            font-style: normal;
            font-size: 18px;
        }
    }

    .divIn {
        border-radius: 5px;
        background-color: $color-background-primary;
        width: 170px;
        margin-left: 15px;
    }



    // .divIn:nth-child(1)::before {
    //     width: 40%;
    //     border: 1px solid black;
    // }

    .divIn div {
        height: 69px;
        background-color: $color-background-primary;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 700;
        font-style: normal;
        font-size: 18px;
        word-spacing: 10px;
        border-radius: 5px;
        margin-right: 2em;

    }

    .divIn:nth-child(2){
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .divIn:nth-child(2) ::before {
        content: '';
        width: 80%;
        border: 1px solid white;
    }
}