@mixin flexbox-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@mixin flexbox-colomn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin flexbox-space-between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@mixin flexbox-space-around {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}