@mixin imageLink {
  .mediaProfilIn {
    z-index: 3;
    width: 100%;
    display: grid;
    margin-top: 8em;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 350px);
    justify-content: space-between;

    @media screen and (max-width : 1220px){
        grid-template-columns: repeat(2, 45%);
    }

    @media screen and (max-width: 700px){
      grid-template-columns: repeat(1, 100%);
      margin-top: 4em;
    }

    @media screen and (max-width: 600px){
      margin-top: 0;
    }

    article {
      margin-bottom: 2em;
      overflow: hidden;
      border-radius: 3px;

      .imgContainer, .videoContainer{
        width: 100%;
        height: 300px;
        overflow: hidden;
        border-radius: 5px;

        
      }

      video,
      img {
        width: 100%;
        height: 300px;
        border-radius: 3px;
        object-fit: cover;
        transition: all 0.3s ease;
      }

      .videoContainer video:hover,
      img:hover {
        width: 110%;
        height: 300px;
        cursor: pointer;
        transform: scale(1.1);

        @media screen and (max-width: 1227px) {
          width: 100%;
          transform: none;
        }
      }

      .bottomVideo,
      .bottomImg {
        display: flex;
        margin-top: 0.5em;

        .bottomLeft {
          display: flex;
          justify-content: space-between;
          width: 80%;

          @media screen and (max-width: 1220px) {
            width: 87%;
          }

          .sigle {
            margin-left: 6px;
          }

          .titleVideo,
          .titleImg,
          .priceVideo,
          .priceImg {
            font-weight: normal;
            font-size: 24px;
            line-height: 31px;
            color: $color-text-three;

            @media screen and (max-width: 400px) {
              font-size: 14px;
              line-height: 18px;
            }
          }
        }

        .likeGlobal,
        .likeVideoGlobal {
          display: flex;
          .likesVideo,
          .likesImg {
            margin-left: 1em;
            font-weight: 500;
            font-style: normal;
            font-size: 24px;
            line-height: 31px;
            color: $color-text-three;

            @media screen and (max-width: 400px) {
              font-size: 14px;
              line-height: 18px;
            }
          }

          i {
            color: $color-text-three;
            font-style: normal;
            font-size: 24px;
            line-height: 31px;

            @media screen and (max-width: 400px) {
              font-size: 14px;
              line-height: 18px;
            }
          }
        }
      }
    }
  }

  .clickLike {

    background-image: blue;
    background-color: blue;
  }
}
