@mixin imageLink {
  .mediaProfilIn {
    width: 100%;
    display: grid;
    margin-top: 8em;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 350px);
    justify-content: space-between;

    article {
      margin-bottom: 2em;
      overflow: hidden;
      border-radius: 3px;

      .imgContainer, .videoContainer{
        width: 350px;
        height: 300px;
        overflow: hidden;
        border-radius: 5px;

        
      }

      video,
      img {
        width: 350px;
        height: 300px;
        border-radius: 3px;
        object-fit: cover;
        transition: all 0.3s ease;
      }

      .videoContainer video:hover,
      img:hover {
        width: 350px;
        height: 300px;
        cursor: pointer;
        transform: scale(1.1);
      }

      .bottomVideo,
      .bottomImg {
        display: flex;
        margin-top: 0.5em;

        .bottomLeft {
          display: flex;
          justify-content: space-between;
          width: 80%;

          .sigle {
            margin-left: 6px;
          }

          .titleVideo,
          .titleImg,
          .priceVideo,
          .priceImg {
            font-weight: normal;
            font-size: 24px;
            line-height: 31px;
            color: $color-text-three;
          }
        }

        .likeGlobal,
        .likeVideoGlobal {
          display: flex;
          .likesVideo,
          .likesImg {
            margin-left: 1em;
            font-weight: 500;
            font-style: normal;
            font-size: 24px;
            line-height: 31px;
            color: $color-text-three;
          }

          i {
            margin-left: 0.5em;
            // background-clip: text;
            // -webkit-background-clip: text;
            color: $color-text-three;
            // background-image: $color-text-three;
            // background-color: $color-text-three;
            // font-weight: 500;
            font-style: normal;
            font-size: 24px;
            line-height: 31px;
          }
        }
      }
    }
  }

  .clickLike {

    background-image: blue;
    background-color: blue;
  }
}
