@mixin logo {
    .logoPhotographerPage {
        width: 90%;
        @include flexbox-space-between;
        padding-top: 3em;

        img {
            width: 45%;
            max-width: 25em;
        }

        @media screen and (max-width: 500px) {
            padding-top: 2em;
        }
    }
}