@mixin vignettePhotographerPage {
    .vignette {
        position: relative;
        display: flex;
        width: 100%;
        justify-content: space-between;
        background-color: $color-text-eight;
        border-radius: 7px;
        margin-top: 2em;
        margin-bottom: 3em;

        @media screen and (max-width: 700px) {
            margin-bottom: 0;
        }

        .profil {
            display: flex;
            flex-direction: column;
            margin-left: 2em;
            margin-top: 3em;
            margin-bottom: 3em;

            .profilName {
                color: $color-text-four;
                font-weight: 400;
                font-style: normal;
                font-size: 64px;
                line-height: 83px;
                margin: 0;
            }

            .profilCity {
                color: $color-text-three;
                font-weight: 400;
                font-style: normal;
                font-size: 24px;
                line-height: 31px;
            }

            .profilComments {
                margin-top: 1em;
                color: $color-text-two;
                font-weight: 400;
                font-style: normal;
                font-size: 18px;
                line-height: 23px;
            }

            .profilTag {
                margin-top: 1em;

                span {
                    background-color: $color-text-eight;
                    border: 1px solid $color-text-seven;
                    border-radius: 12px;
                    color: $color-text-three;
                    font-weight: 500;
                    font-style: normal;
                    font-size: 18px;
                    line-height: 23px;
                    margin-left: 6px;
                    padding: 1px 7px 1px 7px;
                }

                :nth-child(1){
                    margin-left: 0;
                }
            }

            @media screen and (max-width: 1227px) {
                .profilName {
                    font-size: 54px;
                    line-height: 50px;
                }

                .profilComments {
                    margin-top: 0;
                }

                .profilTag {
                    margin-top: 2px;
                }

            } 

            @media screen and (max-width: 750px) {
                .profilName {
                    font-size: 45px;
                }

                .profilCity {
                    font-size: 17px;
                }

                .profilComments {
                    font-size: 12.5px;
                }

                .profilTag {
                    span {
                        font-size: 12.5px;
                    }
                }
            }

            @media screen and (max-width: 600px) {
                .profilName {
                    font-size: 31.5px;
                    margin-top: 7px;
                    line-height: 33px;
                }

                .profilCity {
                    font-size: 12px;
                    margin-top: 7px;
                    line-height: 12.5px;
                }

                .profilComments {
                    font-size: 8.5px;
                    margin-top: 7px;
                }

                .profilTag {
                    span {
                        font-size: 8.5px;
                        margin-top: 7px;
                    }
                }
            }

            @media screen and (max-width: 500px){
                .profilName {
                    font-size: 25px;
                    margin-top: 0px;
                    line-height: 15px;
                }

                .profilCity {
                    font-size: 10px;
                    margin-top: 7px;
                    line-height: 10px;
                }

                .profilComments {
                    font-size: 8px;
                    margin-top: 5px;
                    line-height: 10px;
                }

                .profilTag {
                    span {
                        font-size: 8.5px;
                        margin-top: 7px;
                    }
                }
            }
        }

        @media screen and (max-width: 1227px) {
            .profil {
                margin-left: 0;
            }
        }

        @media screen and (max-width: 600px){
            .profil {
                margin-right: 0;
            }
        }

        .button {
            margin-top: 4em;
            margin-right: 10em;

            @media screen and ( max-width:600px){
                margin-right: 0;;
            }

            button {
                height: 70px;
                width: 170px;
                background-color: $color-text-three;
                border-radius: 5px;
                border: none;
                color: white;
                font-weight: 700;
                font-style: normal;
                font-size: 20px;
                line-height: 26px;
                text-align: center;

                @media screen and ( max-width:1023px){
                        margin-right: 0;
                        margin-top: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: fixed;
                        right: 42%;
                        bottom: 2%;
                        height: 35px;
                }

                @media screen and ( max-width:912px){
                    right: 40%;
                }

                @media screen and ( max-width:740px){
                    right: 37%;
                }

                @media screen and ( max-width:600px){
                    right: 35%;
                }

                @media screen and ( max-width:600px){
                    right: 32%;
                }

                @media screen and ( max-width:430px){
                    right: 30%;
                }

                @media screen and ( max-width:375px){
                    right: 27%;
                }

                @media screen and ( max-width:360px){
                    right: 25%;
                }

                @media screen and ( max-width:325px){
                    right: 22%;
                }
            }

        }

        img {
        width: 10em;
        height: 10em;
        object-fit: cover;
        border-radius: 20em;
        margin-top: 4em;
        margin-right: 2em;
        }

        @media screen and (max-width: 1227px) {
            img {
                margin-right: 0;
            }
        }
    
        @media screen and (max-width: 600px) {
            img {
                width: 6em;
                height: 6em;
                margin-top: 3em;
            }
        }

        @media screen and (max-width: 500px) {
            img {
                width: 5em;
                height: 5em;
                margin-top: 3em;
            }
        }
    }

    @media screen and (max-width: 1227px)  {
        .vignette {
            background-color: white;
            margin-top: 0;
        }
    }
}